html, body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#app {
  height: 100%;
}
.btnImg {
  height: 50px;
  width: 50px;
}
.app-wrapper {
  overflow: hidden;
  padding: 15px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: #fff;
  color: #202020;
}  
.app-wrapper.dark {
  background: #202020;
  color: #fff;
}
.app-wrapper.dark.h1 {
  color: #fff;
}

.dark-mode-toggle {
  position:fixed;
  top: 20px;
  right: 20px;
  background: transparent;
  border: none;
  margin: auto;
  cursor: pointer;
}
